<template>
    <div class="step">
        <h1>This is the second step</h1>
        <portal to="extra-button">
            <a href="#!" class="nav-btn extra" @click.prevent="console.log('extra button clicked')">EXTRA</a>
        </portal>
    </div>
</template>

<script>
export default {
    
}
</script>

<style>
.nav-btn.extra {
    display: block;
    margin-right: 20px;
}
</style>
