<template>
    <div class="steps-form">
        <div class="main-form">
            <h1>Welcome to Portal Vue TEST</h1>
            <keep-alive>
                <router-view></router-view>
            </keep-alive>
        </div>
        <div class="navigation-buttons" v-if="$route.path !== '/'">
            <div class="back">
                <router-link :to="prevStep" class="nav-btn">BACK</router-link>
            </div>
            <div class="next">
                <portal-target name="extra-button"></portal-target>
                <router-link :to="nextStep" class="nav-btn">NEXT</router-link>
            </div>
        </div>
        <div v-else>
            <router-link to="/first">Go to the steps form</router-link>
        </div>
    </div>
</template>

<script>
/* eslint-disable */
export default {
    computed: {
        nextStep() {
            switch (this.$route.path) {
                case '/first':
                    return '/second';
                case '/second':
                    return '/third';
                default:
                    return this.$route.path;
            }
        },
        prevStep() {
            switch (this.$route.path) {
                case '/third':
                    return '/second';
                case '/second':
                    return '/first';
                default:
                    return this.$route.path;
            }
        }
    },
    mounted() {
        this.currentStep = (this.$route.meta && this.$route.meta.stepIndex) ? this.$route.meta.stepIndex : 0;
    }
}
</script>

<style>
.navigation-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-buttons .back,
.navigation-buttons .next {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-buttons .nav-btn {
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    background: #2196F3;
    border: none;
    padding: 12px;
    border-radius: 28px;
    outline: none;
    box-shadow: 0 0 13px #afafaf;
    text-decoration: none;
}

.navigation-buttons .nav-btn:active {
    box-shadow: none;
}

.step h1 {
    color: #848484;
    font-size: 27px;
    border: 1px solid #e6e6e6;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    border-radius: 6px;
}
</style>
