<template>
    <div id="app">
        <StepsForm/>
    </div>
</template>

<script>
import StepsForm from './components/StepsForm.vue'

export default {
    name: 'app',
    components: {
        StepsForm
    }
}
</script>

<style>
html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 615px;
    height: 254px;
    border: 1px solid #afafaf;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 0 13px #e2e2e2;
}

.steps-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
</style>
